.footer {
  padding: 2em 0 2em 0;
  background-color: rgba($color: $primary, $alpha: 1);
  color: white;

  .container {
    max-width: 85%;
    width: 100%;
    margin: auto;

    .sections {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      padding: 1em 0;

      h3{
        color: #199EFF;
        font-weight: 400;
      }
      .two-equal{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .socials{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      font-size: small;
      text-align: left;
      color: white;
      margin: 10px 0 10px 0;
    }

    a:hover {
      color: $accent;
      cursor: pointer;
      text-decoration: none;
    }
  }

  p {
    text-align: center;
    font-size: small;
    padding: 1em;
  }

  hr{
    margin: auto;
  }
  .bottom{
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding-top: 3em;
    img{
      display: block;
      max-height: 54px;
      height: 100%;
      object-fit: contain;
    }
  }
  @include maxwidth(mobile) {
    .sections {
      grid-template-columns: 1fr !important;
    }
    .bottom{
      grid-template-columns: 1fr;
      padding-bottom: 1em;
      img{
        width: auto;
        margin: auto;
      }
    }
  }
  @include maxwidth(tablet) {
    .sections {
      grid-template-columns: 1fr 1fr !important;
    }
    .bottom{
      grid-template-columns: repeat(4, 1fr);
      padding-bottom: 1em;
    }
  }
}
