@import "./_variables";
@import "./0_mediaquery";

.ContactUsPage {
  height: 100vh;
  overflow-y: auto;

  .hero{
    background-image: url("../assets/images/contactus.png");
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;

    .txt{
      padding: 2em 9em;
      width: 50%;
      
      h4{
        font-size: x-large;
      }
    }
  }


  .form-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 70%;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    margin-top: -13em;

    .left{
      padding: 2em;
      background-color: white;

      h4{
        color: #002F6C;
        font-size: larger;
      }

      .two-equal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;

        div{
          display: grid;
          grid-template-rows: 1fr 1fr;
          padding: 1em 0
          // gap: 1em;
        }
      }

      .message{
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 1em 0
      }

      input, textarea{
        height: 34px;
        border: none;
        border-bottom: 1px solid $secondary;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 2px;

      }

      input:focus, textarea:focus{
        outline: none;
        border-bottom: 1px solid $primary;
      }

      ::placeholder{
        color: $primary;
        font-family: 'inter';
        font-size: small;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 20px;
      }
      
      label{
        color: $primary;
        font-family: 'Inter';
        font-size: medium;
      }

      .btn{
        text-align: right;
        button{
          background: $primary;
          border: none;
          color: white;
          padding: 8px;
          cursor: pointer;
        }
      }
    }

    .right{
      background-color: $primary;
      text-align: center;
      color: white;
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding: 4em;
    }
  }

  .more-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 5em 2em;
    width: 80%;
    margin: auto;

    div{
      text-align: center;
      line-height: 2;
      h4{
        color: $secondary;
      }
    }
  }
  @include maxwidth(tablet) {
    .hero{
      .txt{
        padding: 2em;
        width: 100%;
      }
    }
    .form-content{
      .right{
        display: none;
      }
    }
    .more-info{
      width: 100%;
      gap: 1em;
      padding: 2em;
    }
  }
}
