@import "./_variables";
@import "./_0_mediaquery";

.publications {
  height: 100vh;
  overflow-y: auto;
  position: relative;


  .slist {
    min-height: 70vh;
    height: fit-content;

    h1 {
      color: $primary;
      font-size: xx-large;
      margin: 10px 0 10px 0;
      padding: 0 0 44px 0;
      position: relative;
      text-align: left !important;
      width: fit-content;
      max-width: 85%;
      margin: 1em auto 0 auto;
      display: block;
    }

    hr{
      width: 90%;
      text-align: center;
      padding: 1px;
      background: $primary;
      border: $primary;
      margin: auto;
      // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .container {
      max-width: 85%;
      width: 100%;
      height: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 10px;
      padding: 2em 0 2em 0;

      .left {
        border: 1px solid #60606030;
        border-radius: 5px;
        height: fit-content;
        margin-top: 54px;

        h3 {
          padding: 4px;
          color: $primary;
        }

        hr {
          background-color: gray !important;
        }

        .category {
          border-bottom: 1px solid #60606030;
          cursor: pointer;
          p {
            color: gray;
            padding: 5px 20px;
          }
        }
        .category:hover {
          background-color: #60606030;
        }
      }

      .right {
        padding: 5px;
        height: 100%;

        .top {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 10px;
          margin-bottom: 10px;

          p {
            padding: 10px;
            margin: auto;
            width: 100%;
          }

          form {
            display: grid;
            grid-template-columns: 1fr auto;
          }

          input {
            padding: 8px;
            border: 1px solid $secondary;
            outline: none;
            border-radius: 5px;
          }

          button {
            border: none;
            background-color: none;

            i {
              padding: 10px;
              background-color: $secondary;
              color: white;
              text-align: center;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }

        hr {
          color: #60606030 !important;
        }

        .pub{
          margin: 10px;
          background-color: white;
          border-radius: 5px;
          padding: 1em;
          border: 1px solid #60606030;
          box-shadow: 1px 1px 5px #60606030;
          .stk {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 1em;

            img {
              // max-width: 140px;
              width: 100%;
              height: 200px;
              object-fit: contain;
              object-position: center;
            }
            h3{
              color: $primary;
              font-size: x-large;
              font-weight: 600;
            }

            p {
              line-height: 1.7;
              font-size: small;
              margin-bottom: 10px;
            }

          }
          .more{
            text-align: right;
            a {
              text-decoration: none;
              font-size: medium;
              color: white;
              background: $primary;
              padding: 10px;
            }
            a:hover {
              background: $primarylight;
            }
          }
        }        
      }
    }

    @include maxwidth(mobile) {
      .container {
        grid-template-columns: 1fr !important;

        .left {
          display: none;
        }
        .top {
          grid-template-columns: 1fr !important;
          p {
            display: none;
          }

          input {
            width: 100% !important;
          }
        }

        .list {
          grid-template-columns: 1fr !important;
        }
      }
    }
    @include maxwidth(tablet) {
      .container {
        grid-template-columns: 1fr !important;

        .left {
          display: none;
        }
        .top {
          grid-template-columns: 1fr !important;
          p {
            display: none;
          }

          input {
            width: 100% !important;
          }
        }
        .list {
          grid-template-columns: 1fr !important;
        }
      }
    }
  }
}
