@import "./0_mediaquery";
@import "./variables";


.success{
    height: 100vh;
    overflow-y: auto;
    position: relative;

    .hero{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: opacity 0.5s ease-in-out;

        img{
            max-height: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .overlay{
            height: 26vh;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
        .content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 2em;
            color: white;
            // transform: translateY(50px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            h4{
                color: white;
                text-align: center;
            }
        }
    }
}